<div class="back">
  <div class="container">
    <header>
      <h1>Lorem Ipsum</h1>
      <p>Generator</p>
    </header>

    <div class="input-div">
      <p>Enter the number of paragraphs:</p><input type="number" class="no-spinner" (input)="generateLoremIpsum()" [(ngModel)]="paragraphs">
    </div>

    <div class="output-div">
      <p>Here is your Lorem Ipsum</p>
      <textarea [(ngModel)]="text"></textarea>
      <button id="copyBtn" (click)="copyLorem()">{{copyText}}</button>
    </div>

  </div>
</div>
